.MatchPage
{
    h1
    {
        // background: red;
        margin-bottom: 20px;
    }
   
    select
    {
        width: 200px;
        height: 40px;
        font-size: 15px;
        font-weight: bold;
        padding-left: 5px;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .title-bar
    {
        // background: red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .back
        {
            width: 100px;
            height: 40px;
            font-size: 15px;
            font-weight: bold;
            padding: 10px 20px;
            border: solid 1px #ccc;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        }
        .back:hover
        {
            background: #ccc;
            transition: 0.5s;
        }

    }
    
}