.MatchDetailCard
{
   display:grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(167, 166, 166, 0.1);
    padding: 20px;
    margin: 10px 0 ;

    span
    {
       font-size: 1.2rem;
        font-weight: bold;
        color: white;   
        display: block;
    }
    .innings-details
    {
    padding: 15px 10px;
    .details-date, .details-venue ,.details-winner
    {
        padding-top: 10px;
    }
    }

  

    .innings-extra-details
    {
        padding: 15px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        // background: wheat;
        font-size: 1.2rem;
        text-align: right;
    }


}