.MatchDetailCard
{
   display:grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 5px;
    box-shadow: rgba(102, 102, 102, 0.4) 0px 2px 4px, rgba(102, 102, 102, 0.3) 0px 7px 13px -3px, rgba(102, 102, 102, 0.2) 0px -3px 0px inset;
    padding: 20px;
    margin: 10px 0 ;
  
    span
    {
       font-size: 1.2rem;
        font-weight: bold;
        color: white;   
        display: block;
    }
    .innings-details
    {
    padding: 15px 10px;
    .details-date, .details-venue ,.details-winner
    {
        padding-top: 10px;
    }
    }


  

    .innings-extra-details
    {
        padding: 15px 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        // background: wheat;
        font-size: 1.2rem;
        text-align: right;
    }


}
