.teamPage
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 5px;

    .team-name
    {
        padding: 0 10px;
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        // margin-bottom: 5px;
        grid-column: span 3;
        justify-self: start;
        align-self: center;
    }
    .win-loss{  
        font-size: 1.5rem;
        text-align: center;
        // margin-bottom: 10px;
        grid-column: span 1;
        justify-self: center ;
        align-self: center;
        padding:50px;
        
        .ratio-text
        {
            font-size: 1.1rem;
            // padding: 20px;
        }
    }

    .match-detail
    {
        font-size: 1.5rem;
        // text-align: center;
        // margin-bottom: 5px;
        grid-column: span 4;
        h4
        {
           padding: 0 20px;
        }
    }
    .match-small
    {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 10px;
        grid-column: span 3;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: red;
        
    }

 
    .match-more
    {
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 10px;
        grid-column: span 1;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: red;
        span
        {
            border: 1px solid white;
            width:100px;
            height:100px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        span:hover
        {
            background-color: white;
            color: black;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
    }
}