name: Fullstack continous integration

on:
  pull_request:
    branches:[ master ]

  jobs:
    test_pull_request:
      runs-on: ubuntu-latest
      steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build with Maven
        run: mvn install
      -name: Build React app
        run: cd src/frontend && npm install && npm run build 